*{
    font-family: sans-serif;
}
html , body{
    height: 100%;
}

header.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: violet;
    color: black;
    font-size: 25px;
    padding: 15px 2%;
}

header a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
}

/* header nav a:first-child{
    background: red;
} */

main {
    display: flex;
    height: 100%;
}

#left-section{
    width: 20%;
    background-color: blueviolet;

}

#rigth-section{
    background-color: darksalmon;
    width: 80%;

}
